In [2]:
a = 2
b = 3
c = a + b
print(c)

5

In [3]:
import numpy as np
import pandas as pd

In [4]:
np.arange(1,10)

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [9]:
a + b

TypeError: can only concatenate str (not "int") to str

In [6]:
a = 'palavra'

In [7]:
a

'palavra'

### titulo
aqui estamos fazendo alguns testes

In [10]:
b = [1,2,3]

In [ ]:
b.

In [17]:
data = {
    'State': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'], 
    'Year': [2001, 2002, 2003, 2001, 2002, 2003], 
    'Population': [1.5,2.5,3.0,1.6,8.6,5.5], 
       }

In [18]:
data

{'State': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
 'Year': [2001, 2002, 2003, 2001, 2002, 2003],
 'Population': [1.5, 2.5, 3.0, 1.6, 8.6, 5.5]}

In [19]:
frame = pd.DataFrame(data)

In [20]:
frame

    State  Year  Population
0    Ohio  2001         1.5
1    Ohio  2002         2.5
2    Ohio  2003         3.0
3  Nevada  2001         1.6
4  Nevada  2002         8.6
5  Nevada  2003         5.5